<table width='100%'>
  <tr>
    <td align='center'>
      <div
        style=' 
          font-family: Inter, Sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 800;
          line-height: 28px;
          letter-spacing: -0.5px;
          color: #061B40;
        '
      >{{subject}}</div>
    </td>
  </tr>
  <tr>
    <td align='left'>
      <div
        style='
          color: #061B40;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 450;
          line-height: 24px;
        '
      >
        {{text}}
        <span
          style=' 
            color: #061B40;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            line-height: 24px; 
            font-weight: 600;
          '
        >{{code}}</span>.
      </div>
    </td>
  </tr>
</table>